@import 'vars';
@import '~ionicons/dist/css/ionicons.css';

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: @text-color;
  background: @bg-body;
  font-size: @text-df;
}

.padding-lr {
  padding-left: @margin-df;
  padding-right: @margin-df;
}