@import 'vars';
@import 'animation';
@import '~ionicons/dist/css/ionicons.css';

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: @text-color;
  background: @bg-body;
  font-size: @text-df;
}

.padding-lr {
  padding-left: @margin-df;
  padding-right: @margin-df;
}

.response {
  width: 100%;
}

.cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: @z-index-df;
}